// Body
$body-bg: #f8fafc;

// Buttons
$theme-colors: (
    "primary": #10bdc9,
    "danger": #f08513
);

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$headings-font-family: "Roboto Slab", serif;

$font-size-base: 1rem;
$line-height-base: 1.6;
